* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #000428 0%, #000428 100%);
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 30px;
    background-color: transparent;
    box-shadow: 0 10px 20px rgba(12, 12, 12, 0.5);
}

.navbar .logo h2 {
    color: #fff;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links h3 {
    color: #fff;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #464ee5;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: moveStar 5s linear infinite, shineStar 2s linear infinite alternate;
    opacity: 0.8;
}

@keyframes moveStar {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
    }
    100% {
        transform: translate3d(0, 0, -1000px);
        opacity: 0.1;
    }
}

@keyframes shineStar {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 225px;
    margin: 30px;
    background-color: transparent;
    box-shadow: 0 10px 20px rgba(12, 12, 12, 0.5);
}

.home-text {
    max-width: 50%;
}

.home-text h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 10px;
}

.home-text h2 {
    color: #a6a6a6;
    font-size: 24px;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 18px;
    line-height: 1.5;
    color: #ccc;
}

.home-image img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #fff;
}

#typed-text {
    color: #4fd1ff;
}

.social-icons {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    color: #4fd1ff;
    transform: scale(1.2);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 225px;
    margin: 30px;
    background-color: transparent;
    box-shadow: 0 10px 20px rgba(12, 12, 12, 0.5);
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.academic,
.achievements {
    flex-basis: 48%;
}

.academic > div {
    margin-bottom: 20px;
}

.achievements {
    padding-left: 20px;
    border-left: 1px solid #ddd;
}

h3.habout {
    color: white;
    margin-top: 10px;
}

p.pabout {
    margin-bottom: 10px;
}

.progress-container {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
}

.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #333;
}

.ten,
.two,
.btech {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.achievement {
    margin-bottom: 10px;
    color: rgb(192, 191, 191);
}

.achievement p {
    margin-bottom: 0;
}

.portfolio {
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 125px;
    margin: 30px;
    background-color: transparent;
    box-shadow: 0 10px 20px rgba(12, 12, 12, 0.5);
}

.skill {
    flex: 1 1 23%;
    margin: 15px;
    text-align: center;
    padding: 25px;
    border: 2px solid #d9dadb;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skill:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.skill-name {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.skillh {
    color: white;
}

.skill-percentage {
    font-size: 2.5rem;
    color: rgba(208, 207, 207, 0.8);
    margin: 10px 0;
}

.circular-progress {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#ffffff var(--percentage), rgba(255, 255, 255, 0.2) var(--percentage));
}

.circular-progress::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
}

.project-item{
    height: 250px;
    width: 250px;
}

#projects {
    padding: 50px 0;
    text-align: center;
}

.projects-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 100px 300px;
    margin-left: 175px;
}

.projecth {
    color: white;
}

.project-item {
    position: relative;
    margin: 15px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(15, 7, 32, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.project-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-item:hover .overlay {
    opacity: 1;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.project-title {
    margin: 10px 0;
    font-size: 20px;
}

.project-description {
    font-size: 14px;
}

#contact {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#contact h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact input,
#contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

#contact input {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

#contact textarea {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    resize: vertical;
}

#contact button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4fd1ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact button:hover {
    background-color: #3ba7d8;
}

@media (max-width: 768px) {
    #contact {
        width: 90%;
        padding: 30px;
    }

    #contact h2 {
        font-size: 24px;
    }

    #contact input,
    #contact textarea {
        font-size: 14px;
    }

    #contact button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #contact {
        padding: 10px;
    }

    #contact h2 {
        font-size: 20px;
    }

    #contact input,
    #contact textarea {
        font-size: 10px;
    }

    #contact button {
        font-size: 10px;
    }
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 30px;
        margin: 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    .home {
        flex-direction: column;
        padding: 100px;
        text-align: center;
    }

    .home-text {
        max-width: 100%;
    }

    .home-text h1 {
        font-size: 36px;
    }

    .home-text h2 {
        font-size: 20px;
    }

    .home-image img {
        width: 150px;
        height: 150px;
    }

    .about,
    .skills {
        flex-direction: column;
        padding: 100px;
        text-align: center;
    }

    .projects-gallery {
        grid-template-columns: 1fr;
        padding: 20px;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 20px;
        margin: 10px;
    }

    .home {
        padding: 50px;
    }

    .home-text h1 {
        font-size: 28px;
    }

    .home-text h2 {
        font-size: 18px;
    }

    .home-image img {
        width: 120px;
        height: 120px;
    }

    .about,
    .skills {
        padding: 50px;
    }

    .projects-gallery {
        grid-template-columns: 1fr;
        gap: 5px;
        padding: 10px;
    }
}
